@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ruda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body {
    background-color: #FFF9F0;
    overflow-x: hidden;
}

#banner {
    height: 70vh;
    width: 80vw;
    border-radius: 7vh;
    position: relative;
    left: 10vw;
    top: 1vw;
    
}

.service {
    position: relative;
    margin-top: 7vw;
    width: 100%;
    display: flex;
}

.service h3 {
    margin-left: 12vw;
}

.card1 {
    background-color: white;
    border-radius: 3vw;
    border: 1px solid black;
    height: 16vw;
    width: 38vw;
    margin-top: 5vw;
    margin-left: -10vw;
}

.card1 p {
    font-size: 3vw;
    color: black;
    margin-left: 13vw;
    margin-top: 4vw;
}

.card1:hover {
    transform: scale(1.10);
    transition: 0.3s;
}

.card2 {
    background-color: white;
    border-radius: 3vw;
    border: 1px solid black;
    height: 16vw;
    width: 38vw;
    margin-top: 5vw;
    margin-left: 4vw;
}

.card2 p {
    font-size: 3vw;
    color: black;
    margin-left: 12vw;
    margin-top: 4vw;
}

.card2:hover {
    transform: scale(1.10);
    transition: 0.3s;
}

.card3 {
    background-color: white;
    border-radius: 3vw;
    border: 1px solid black;
    height: 16vw;
    width: 38vw;
    margin-top: 25vw;
    margin-left: -80vw;
}

.card3 p {
    font-size: 3vw;
    color: black;
    margin-left: 5vw;
    margin-top: 7vw;
}

.card3:hover {
    transform: scale(1.10);
    transition: 0.3s;
}

.card4 {
    background-color: white;
    border-radius: 3vw;
    border: 1px solid black;
    height: 16vw;
    width: 38vw;
    margin-top: 25vw;
    margin-left: -37.5vw;
}

.card4 p {
    font-size: 3vw;
    color: black;
    margin-left: 12vw;
    margin-top: 7vw;
}

.card4:hover {
    transform: scale(1.10);
    transition: 0.3s;
}

footer {
    margin-top: 10vw;
}