@import url('https://fonts.googleapis.com/css2?family=Ruda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Ruda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

body {
    background-color: #FFF9F0;
}

#banner {
    height: 70vh;
    width: 80vw;
    border-radius: 10vh;
    position: relative;
    left: 10vw;
    top: 1vw;
    filter: hue-rotate(0deg); /* 0deg para manter a cor original, 180deg para inverter as cores */
    background-color: red; /* Adiciona uma tonalidade vermelha à imagem */
}
